@font-face {
  font-family: "Segoe UI Variable Static Text";
  src: url("/fonts/Segoe-UI-Variable-Static-Text.ttf");
}

@font-face {
  font-family: "Segoe UI Variable Static Small";
  src: url("/fonts/Segoe-UI-Variable-Static-Small.ttf");
}

@font-face {
  font-family: "Segoe Fluent Icons";
  src: url("/fonts/Segoe Fluent Icons.ttf");
}
